@import 'vars';
@import 'fonts';
@import 'mixins';

@font-face {
  font-family: 'welcomefont';
  src: url('../fonts/welcome/font/welcomefont.eot?6512698');
  src: url('../fonts/welcome/font/welcomefont.eot?6512698#iefix') format('embedded-opentype'),
  url('../fonts/welcome/font/welcomefont.woff2?6512698') format('woff2'),
  url('../fonts/welcome/font/welcomefont.woff?6512698') format('woff'),
  url('../fonts/welcome/font/welcomefont.ttf?6512698') format('truetype'),
  url('../fonts/welcome/font/welcomefont.svg?6512698#welcomefont') format('svg');
  font-weight: normal;
  font-style: normal;
}



html {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
*, *::after, *::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
}
@media (min-width: 1280px) {
  body {
    background-color: #F2F2F2;
  }
}

.container {
  text-align: center;
  max-width: 270px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 520px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
  }
}

.header {
  position: relative;
  &__inner {
    min-height: 56px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
}
@media (min-width: 768px) {
  .header__inner {
    justify-content: center;
  }
}
.logo__link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.menu__list {
  display: block;
  position: fixed;
  left: 0;
  top: -400px;
  z-index: 4;
  margin: 0;
  padding: 0;
  list-style: none;
  transition-duration: .7s;
  &_item {
    position: relative;
    width: 100vw;
    min-height: 55px;
    background-color: $accent-color;
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
    &:first-of-type {
      box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2);
    }
    &:last-of-type {
      box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
    }
    &>a {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      vertical-align: center;
      color: #fff;
      text-transform: uppercase;
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 144%;
      text-decoration: none;
    }
  }
  &.active {
    transform: translateY(400px);
  }
}
@media (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu__list {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    &_item {
      position: static;
      width: 153px;
      box-shadow: none;
      background-color: transparent;
      transform: none;
      min-height: 0;
      &:nth-of-type(2) {
        margin-right: 153px;
      }
      &:first-of-type, :last-of-type {
        box-shadow: none;
      }
      &>a {
        position: static;
        font-size: 14px;
        line-height: 150%;
        color: #000;
      }
    }
  }
}
@media (min-width: 1280px) {
  .menu__list_item {
    min-width: 240px;
    &:nth-of-type(2) {
      margin-right: 240px;
    }
  }
}

.menu__btn {
  width: 23px;
  height: 23px;
  position: absolute;
  right: 20px;
  top: 17px;
  z-index: 5;
  background-color: transparent;
  border: none;
  &::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 9px 0 0 $accent-color;
    transition: all .5s ease-in-out;
  }
  &::before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    position: absolute;
    top: 18px;
    left: 0;
    transition: all .5s ease-in-out;
  }
  &.active {
    height: 4px;
    &::after {
      transform: rotate(-45deg);
      box-shadow: none;
      background-color: #fff;
      top: 7px;
    }
    &::before {
      content: '';
      width: 100%;
      height: 4px;
      background-color: #fff;
      position: absolute;
      top: 7px;
      left: 0;
      transform: rotate(45deg);
    }
  }
}
@media (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}
.main-screen {
  @include flex-column-center;
  position: relative;
  min-height: 389px;
  background: center center no-repeat url('../images/back-desktop.jpg');
  background-size: cover;
  &__inner {
    height: 100%;
  }
  &__greetings {
    font-family: 'welcomefont', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 70px;
    text-transform: uppercase;
    color: $accent-color;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px;
    background: center center no-repeat url('../images/intro-triangle.svg');
    background-size: cover;
  }
}
@media (min-width: 768px) {
  .main-screen {
    min-height: 518px;
  }
}
/*@media (min-width: 1200px) {
  .main-screen::after {
    background-size: contain;
  }
}*/
.intro {
  max-width: 270px;
  margin: 0 auto;
  padding-top: 32px;
}
@media (min-width: 768px) {
  .intro {
    max-width: 520px;
    padding-top: 48px;
  }
}
@media (min-width: 1280px) {
  .intro {
    padding-top: 59px;
    max-width: 484px;
  }
}
.intro__title {
  margin-top: 0;
  margin-bottom: 35px;
  text-align: center;
  white-space: pre-wrap;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 144%;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .intro__title {
    margin-top: 0;
    margin-bottom: 55px;
    font-size: 21px;
    line-height: 124%;
  }
}
.intro__desc {
  text-align: center;
  margin-bottom: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}
.reason {
  @include flex-column-center;
  position: relative;
  background-color: $accent-color;
  color: #fff;

  &.gray {
    background-color: $background-second;
    color: #000;
    & > .reason-wrapper:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }
  }
  &-first {
    padding-top: 54px;
    &::before {
      content: '';
      width: 100%;
      height: 37px;
      position: absolute;
      top: 0;
      left: 0;
      background: top center no-repeat url('../images/background-reasons-1.svg');
      background-size: cover;
    }
  }
  &-wrapper {
    @include flex-column-center;
    position: relative;
    max-width: 270px;
    margin: 0 auto;
    padding-top: 4px;
  }
  &__title {
    margin-top: 33px;
    margin-bottom: 11px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
  }
  &__number {
    position: relative;
    margin-top: 0;
    margin-bottom: 17px;
    &::before {
      content: '—';
      position: absolute;
      left: -15px;
      top: 0;
    }
    &::after {
      content: '—';
      position: absolute;
      right: -15px;
      top: 0;
    }
  }
  &__desc {
    margin-top: 0;
    margin-bottom: 37px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
  }
  &__image {
    height: 260px;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}
@media (min-width: 768px) {
  .reason {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    &.reason-second {
      background-color: red;
      grid-template-columns: 2fr 1fr;
      & > .reason__image {
        order: 0;
      }
      & > .reason-wrapper {
        order: 3;
      }
    &::before {
      background: none;
    }
    &-wrapper {
      max-width: 192px;
    }
    &__title {
      margin-top: 0;
      text-align: center;
    }
    &__number {

    }
    &__desc {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1280px) {
  header, main {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    background-color: #fff;
  }
}

.advantages {
  max-width: 85%;
  padding-bottom: 52px;
  padding-top: 15px;
  margin: 0 auto;
  &__card {
    padding-left: 45px;
    padding-top: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &::before {
      content: '';
      width: 80px;
      height: 80px;
      position: absolute;
      top: 0;
      left: -25px;
      transform: scale(0.5);
      background-image: url(../images/icons.svg);
    }
    &.accommodation::before {
      background-position: 0 0;
    }
    &.food::before {
      background-position: 0 -84px;
    }
    &.souvenirs::before {
      background-position: 0 -168px;
    }
    &_title {
      margin-bottom: 17px;
      font-weight: 700;
      font-size: 18px;
      line-height: 144%;
      text-transform: uppercase;
    }
    &_desc {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 14px;
      line-height: 150%;
      text-transform: uppercase;
    }
    &_icon  {
      /*width: 40px;
      height: 40px;
      background-image: url('../images/icons.svg');
      background-size: cover;
      background-repeat: no-repeat;
      &.accommodation{
        background-position: 0 0;
      }
      &.food {
        background-position: 0 -84px;
      }
      &.souvenirs {
        background-position: 0 -168px;
      }*/
    }
  }
}
@media (min-width: 768px) {
  .advantages {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 158px;
    padding-bottom: 59px;
    &__card {
      @include flex-column-center;
      padding-left: 0;
      padding-top: 0;
      max-width: 185px;
      &::before {
        top: -106px;
        left: 50%;
        transform: translateX(-50%);
      }
      &_title {
        margin-top: 0;
      }
      &_desc {
        text-align: center;
      }
    }
  }
}
@media (min-width: 1280px) {
  .advantages {
    padding-bottom: 79px;
  }
}