@import 'vars';
@import 'fonts';
@import 'mixins';

@font-face {
  font-family: "sullivanfill";
  font-weight: 400;
  font-style: normal;

  src: url(../fonts/sullivan-fill-webfont.eot);
  src: url(../fonts/sullivan-fill-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/sullivan-fill-webfont.woff) format("woff"), url(../fonts/sullivan-fill-webfont.ttf) format("truetype"), url(../fonts/sullivan-fill-webfont.svg#sullivanfill) format("svg");
}

@font-face {
  font-family: "wisdom_scriptregular";
  font-weight: 400;
  font-style: normal;

  src: url(../fonts/wisdom_script_aj-webfont.eot);
  src: url(../fonts/wisdom_script_aj-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/wisdom_script_aj-webfont.woff) format("woff"), url(../fonts/wisdom_script_aj-webfont.ttf) format("truetype");
}


@font-face {
  font-family: "zeroneroblack";
  font-weight: 400;
  font-style: normal;

  src: url(../fonts/zeronero-webfont.eot);
  src: url(../fonts/zeronero-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/zeronero-webfont.woff) format("woff"), url(../fonts/zeronero-webfont.ttf) format("truetype"), url(../fonts/zeronero-webfont.svg#zeroneroblack) format("svg");
}


html {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
*, *::after, *::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
}
@media (min-width: 1280px) {
  body {
    background-color: #F2F2F2;
  }
}

.container {
  text-align: center;
  max-width: 270px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 520px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
  }
}

.header {
  position: relative;
  &__inner {
    min-height: 56px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .header__inner {
    justify-content: center;
  }
}
.logo__link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.menu__list {
  display: block;
  position: fixed;
  left: 0;
  top: -400px;
  z-index: 4;
  margin: 0;
  padding: 0;
  list-style: none;
  transition-duration: .7s;
  &_item {
    position: relative;
    width: 100vw;
    min-height: 55px;
    background-color: $accent-color;
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    &:first-of-type {
      box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
    }
    &:last-of-type {
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    }
    &>a {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      vertical-align: center;
      color: #fff;
      text-transform: uppercase;
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 144%;
      text-decoration: none;
    }
  }
  &.active {
    transform: translateY(400px);
  }
}
@media (min-width: 1280px) {
  header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    background-color: #fff;
  }
}
@media (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu__list {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    &_item {
      position: static;
      width: 153px;
      box-shadow: none;
      background-color: transparent;
      transform: none;
      min-height: 0;
      &:nth-of-type(2) {
        margin-right: 153px;
      }
      &:first-of-type, :last-of-type {
        box-shadow: none;
      }
      &>a {
        position: static;
        font-size: 14px;
        line-height: 150%;
        color: #000;
      }
    }
  }
}
@media (min-width: 1280px) {
  .menu__list_item {
    min-width: 240px;
    &:nth-of-type(2) {
      margin-right: 240px;
    }
  }
}

.menu__btn {
  width: 23px;
  height: 23px;
  position: absolute;
  right: 20px;
  top: 17px;
  z-index: 5;
  background-color: transparent;
  border: none;
  &::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 9px 0 0 $accent-color;
    transition: all .5s ease-in-out;
  }
  &::before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    position: absolute;
    top: 18px;
    left: 0;
    transition: all .5s ease-in-out;
  }
  &.active {
    height: 4px;
    &::after {
      transform: rotate(-45deg);
      box-shadow: none;
      background-color: #fff;
      top: 7px;
    }
    &::before {
      content: '';
      width: 100%;
      height: 4px;
      background-color: #fff;
      position: absolute;
      top: 7px;
      left: 0;
      transform: rotate(45deg);
    }
  }
}
@media (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}
.main-screen {
  @include flex-column-center;
  justify-content: flex-start;
  position: relative;
  min-height: 389px;
  background: 0 20% no-repeat url('../images/back-desktop.jpg');
  background-size: cover;
  &__inner {
    height: 100%;
  }
  &__greetings {
    margin-top: 85px;
    margin-bottom: 0;
    font-family: 'sullivanfill', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 114%;
    text-transform: uppercase;
    color: $accent-color;
  }
  &__subgreetings {
    position: relative;
    margin-top: -8px;
    margin-bottom: 10px;
    font-family: 'wisdom_scriptregular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 124%;
    color: $subgreetings-color;
    &::before {
      content: '';
      position: absolute;
      left: -40px;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 1px;
      background-color: $subgreetings-color;
    }
    &::after {
      content: '';
      position: absolute;
      right: -40px;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 1px;
      background-color: $subgreetings-color;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'zeroneroblack', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 124%;
    text-transform: uppercase;
    color: #fff;
  }
  &__slogan {
    max-width: 220px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'wisdom_scriptregular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 114%;
    text-align: center;
    color: #fff;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px;
    background: center center no-repeat url('../images/intro-triangle.svg');
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .main-screen {
    min-height: 518px;

    .main-screen {
      &__greetings {
        font-size: 65px;
        line-height: 65px;
      }

      &__subgreetings {
        margin-bottom: 20px;
        font-size: 29px;
        line-height: 124%;

        &::before {
          height: 2px;
          width: 29px;
        }

        &::after {
          height: 2px;
          width: 29px;
        }
      }

      &__title {
        font-size: 115px;
        line-height: 124%;
      }

      &__slogan {
        max-width: 320px;
        font-size: 40px;
        line-height: 114%;
      }
    }
  }
}
.intro {
  max-width: 270px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 44px;
}
@media (min-width: 768px) {
  .intro {
    max-width: 520px;
    padding-top: 48px;
  }
}
@media (min-width: 1280px) {
  .intro {
    padding-top: 59px;
    max-width: 484px;
  }
}
.intro__title {
  margin-top: 0;
  margin-bottom: 35px;
  text-align: center;
  white-space: pre-wrap;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 144%;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .intro__title {
    margin-top: 0;
    margin-bottom: 55px;
    font-size: 21px;
    line-height: 124%;
  }
}
.intro__desc {
  margin-bottom: 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

//  reasons - li

.reasons {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    &_item.gray {
        background-color: $background-second;
        color: #000;
        &:not(:last-child) > .reason-wrapper {
          border-bottom: 1px solid $border-color;
        }
    }
  }
}
.reason {
  &-main {
    @include flex-column-center;
    position: relative;
    background-color: $accent-color;
    color: #fff;
    &.reason-first {
      padding-top: 54px;
      &::before {
        content: '';
        width: 100%;
        height: 37px;
        position: absolute;
        top: 0;
        left: 0;
        background: top center no-repeat url('../images/background-reason-1.svg');
        background-size: cover;
      }
    }
  }
  &-wrapper {
    @include flex-column-center;
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 4px;
  }
  &__title {
    margin-top: 33px;
    margin-bottom: 11px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
  }
  &__number {
    position: relative;
    margin-top: 0;
    margin-bottom: 17px;
    &::before {
      content: '—';
      position: absolute;
      left: -15px;
      top: 0;
    }
    &::after {
      content: '—';
      position: absolute;
      right: -15px;
      top: 0;
    }
  }
  &__desc {
    margin-top: 0;
    margin-bottom: 37px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
  }
  &__image {
    height: 260px;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.advantages__list {
  max-width: 85%;
  padding: 15px 0 52px 0;
  margin: 0 auto;
  list-style: none;
  &_item {
    padding-left: 45px;
    padding-top: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &::before {
      content: '';
      width: 80px;
      height: 80px;
      position: absolute;
      top: 0;
      left: -25px;
      transform: scale(0.5);
      background-image: url(../images/icons.svg);
    }
    &.accommodation::before {
      background-position: 0 0;
    }

    &.food::before {
      background-position: 0 -84px;
    }

    &.souvenirs::before {
      background-position: 0 -168px;
    }
  }
}
.advantages__item {
  &_title {
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 18px;
    line-height: 144%;
    text-transform: uppercase;
  }
  &_desc {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .reasons {
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 256px 330px 256px 256px;
      grid-template-areas:
    "reason-1 reason-1 reason-1"
    "reason-1 reason-1 reason-1"
    "reason-2 reason-2 reason-2"
    "reason-3 reason-4 reason-5";
      justify-items: center;
      align-items: center;
      &_item {
        width: 100%;
        &.gray {
          display: inline-block;
          &:not(:last-child) > .reason-wrapper {
            border-bottom: none;
          }
        }
      }
    }
  }

  .reason {
    &-main {
      padding-top: 0;
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      &.reason-second {
        grid-template-columns: 2fr 1fr;
        & > .reason__image {
          order: 0;
        }
        & > .reason-wrapper {
          order: 3;
        }
      }
      &.reason-first {
        padding-top: 0;
        &::before {
          height: 0;
          background: none;
        }
      }
    }
    &__list_item {
      & > .reason-wrapper .gray {
        @include flex-row-center;
        padding: 41px 0;
        & > .reason-wrapper:not(:last-child) {
          border-bottom: none;
        }
        & > .reason-wrapper:not(:first-of-type) {
          max-width: 160px;
        }
        & > .reason-wrapper {
          & > .reason__title {
            margin-bottom: 20px;
          }
          & > .reason__desc {
            margin-bottom: 20px;
          }
        }
      }
    }



    &-wrapper {
      height: 256px;
      max-width: 192px;
    }

    &__title {
      margin-top: 0;
      font-size: 21px;
      line-height: 26px;
      text-align: center;
    }

    &__number {

    }

    &__desc {
      margin-bottom: 0;
    }
    &-1 {
      grid-area: reason-1;
    }
    &-2 {
      grid-area: reason-2;
    }
    &-3 {
      grid-area: reason-3;
    }
    &-4 {
      grid-area: reason-4;
    }
    &-5 {
      grid-area: reason-5;
    }
  }
}
@media (min-width: 1280px) {
  .reason {
    &-wrapper {
      max-width: 290px;
    }
    &.reason-second > .wrapper {
      max-width: 243px;
    }
    &.gray  {
      > .reason-wrapper:not(:first-of-type) {
        max-width: 290px;
      }
      > .reason-wrapper:first-of-type {
        max-width: 315px;
      }
    }
  }
}


@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 145px;
    padding-bottom: 59px;
    &_item {
      @include flex-column-center;
      padding-left: 0;
      padding-top: 0;
      max-width: 194px;
      &::before {
        top: -80px;
        left: 50%;
        transform: translateX(-50%) scale(0.9);
      }
    }
  }
  .advantages {
    &__item {
      &_desc {
        text-align: center;
      }
      &_title {
        margin-top: 0;
      }
    }
  }
}
@media (min-width: 1280px) {
  .advantages {
    padding-bottom: 79px;
    &__list_item {
      max-width: 300px;
    }
  }
}








// end reasons li



.hotel {
  background-color: #fff;
  padding-top: 38px;
  padding-bottom: 49px;
  &-wrapper {
    @include flex-column-center;
    max-width: 85%;
    margin: 0 auto;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 21px;
    line-height: 124%;
    text-transform: uppercase;
    text-align: center;
  }
  &__desc {
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    text-align: center;
    color: $desc-text-color;
  }
  &__btn {
    padding: 16px 43px;
    font-weight: 700;
    font-size: 21px;
    line-height: 124%;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: $accent-color;
  }
}
@media (min-width: 768px) {
  .hotel {
    &-wrapper {
      max-width: 435px;
    }
    &__title {
      font-size: 30px;
      line-height: 87%;
    }
    &__btn {
      padding: 16px 121px;
    }
  }
}
.map__iframe {
  width: 100%;
  max-height: 320px;
}
@media (min-width: 768px) {
  .map__iframe {
    max-height: 350px;
  }
}
.footer {
  padding: 29px 0;
  &__wrapper {
    @include flex-column-center;
    width: 100%;
    margin: 0 auto;
  }
  &__hashtag {
    margin-top: 0;
    margin-bottom: 34px;
    font-weight: 700;
    font-size: 21px;
    line-height: 124%;
    text-transform: uppercase;
    text-align: center;
  }
  &__social {
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 47px;
    &_elem {
      position: relative;
      width: 48px;
      height: 48px;
      display: inline-block;
      background-color: $accent-color;
      &:not(:last-of-type) {
        margin-right: 6px;
      }
      & > a > svg {
        position: absolute;
        fill: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__copyright {
    @include flex-row-center;
    &_text {
      margin: 0 10px 0 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      text-transform: uppercase;
      text-align: center;
    }

  }
}
@media (min-width: 768px) {
  .footer {
    &__wrapper {
      @include flex-row-center;
      justify-content: space-between;
      max-width: 662px;
    }
    &__hashtag {
      margin-bottom: 0;
    }
    &__social {
      margin-bottom: 0;
    }
  }
}