
.icon-vector-4:before { content: '\e800'; } /* '' */
.icon-vector-5:before { content: '\e801'; } /* '' */
.icon-vector-6:before { content: '\e802'; } /* '' */
.icon-vector-7:before { content: '\e803'; } /* '' */
.icon-vector:before { content: '\e804'; } /* '' */
.icon-vector-2:before { content: '\e805'; } /* '' */
.icon-vector-3:before { content: '\e806'; } /* '' */
