$white: #FFFFFF;
$accent-color: #81B3D2;
$accent-hover-color: #669EC0;
$accent-active-color: #5496BD;
$light-gray-color: #E5E5E5;
$orange-color: #DC6243;
$background-second: #EEEEEE;
$border-color: #D6D6D6;
$desc-text-color: #333333;
$subgreetings-color: #766458;
$menu-active-color: #766357;
$gray-background-color: #F2F2F2;


