@charset "UTF-8";
@font-face {
  font-family: "sullivanfill";
  font-weight: 400;
  font-style: normal;
  src: url(../../../fonts/sullivan-fill-webfont.eot);
  src: url(../../../fonts/sullivan-fill-webfont.eot?#iefix) format("embedded-opentype"), url(../../../fonts/sullivan-fill-webfont.woff) format("woff"), url(../../../fonts/sullivan-fill-webfont.ttf) format("truetype"), url(../../../fonts/sullivan-fill-webfont.svg#sullivanfill) format("svg");
}
@font-face {
  font-family: "wisdom_scriptregular";
  font-weight: 400;
  font-style: normal;
  src: url(../../../fonts/wisdom_script_aj-webfont.eot);
  src: url(../../../fonts/wisdom_script_aj-webfont.eot?#iefix) format("embedded-opentype"), url(../../../fonts/wisdom_script_aj-webfont.woff) format("woff"), url(../../../fonts/wisdom_script_aj-webfont.ttf) format("truetype");
}
@font-face {
  font-family: "zeroneroblack";
  font-weight: 400;
  font-style: normal;
  src: url(../../../fonts/zeronero-webfont.eot);
  src: url(../../../fonts/zeronero-webfont.eot?#iefix) format("embedded-opentype"), url(../../../fonts/zeronero-webfont.woff) format("woff"), url(../../../fonts/zeronero-webfont.ttf) format("truetype"), url(../../../fonts/zeronero-webfont.svg#zeroneroblack) format("svg");
}
html {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
}

@media (min-width: 1280px) {
  body {
    background-color: #F2F2F2;
  }
}
.container {
  text-align: center;
  max-width: 270px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 520px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
  }
}
.header {
  position: relative;
}
.header__inner {
  min-height: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (min-width: 768px) {
  .header__inner {
    justify-content: center;
  }
}
.logo__link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.menu__list {
  display: block;
  position: fixed;
  left: 0;
  top: -400px;
  z-index: 4;
  margin: 0;
  padding: 0;
  list-style: none;
  transition-duration: 0.7s;
}
.menu__list_item {
  position: relative;
  width: 100vw;
  min-height: 55px;
  background-color: #81B3D2;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.menu__list_item:first-of-type {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}
.menu__list_item:last-of-type {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.menu__list_item:hover {
  background-color: #669EC0;
}
.menu__list_item > a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 15px;
  vertical-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  text-decoration: none;
}
.menu__list.active {
  transform: translateY(400px);
}

@media (min-width: 1280px) {
  header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    background-color: #fff;
  }
}
@media (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu__list {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
  }
  .menu__list_item {
    position: static;
    width: 153px;
    box-shadow: none;
    background-color: transparent;
    transform: none;
    min-height: 0;
  }
  .menu__list_item:nth-of-type(2) {
    margin-right: 153px;
  }
  .menu__list_item:first-of-type, .menu__list_item :last-of-type {
    box-shadow: none;
  }
  .menu__list_item > a {
    position: static;
    font-size: 14px;
    line-height: 150%;
    color: #000;
  }
  .menu__list_item > a:hover {
    color: #81B3D2;
  }
  .menu__list_item > a.active {
    color: #766357;
  }
}
@media (min-width: 1280px) {
  .menu__list_item {
    min-width: 240px;
  }
  .menu__list_item:nth-of-type(2) {
    margin-right: 240px;
  }
}
.menu__btn {
  width: 23px;
  height: 23px;
  position: absolute;
  right: 20px;
  top: 17px;
  z-index: 5;
  background-color: transparent;
  border: none;
}
.menu__btn::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #81B3D2;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 9px 0 0 #81B3D2;
  transition: all 0.5s ease-in-out;
}
.menu__btn::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #81B3D2;
  position: absolute;
  top: 18px;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.menu__btn.active {
  height: 4px;
}
.menu__btn.active::after {
  transform: rotate(-45deg);
  box-shadow: none;
  background-color: #fff;
  top: 7px;
}
.menu__btn.active::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: absolute;
  top: 7px;
  left: 0;
  transform: rotate(45deg);
}

@media (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}
.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  min-height: 389px;
  background: 0 20% no-repeat url("../../../images/back-desktop.jpg");
  background-size: cover;
}
.main-screen__inner {
  height: 100%;
}
.main-screen__greetings {
  margin-top: 85px;
  margin-bottom: 0;
  font-family: "sullivanfill", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 114%;
  text-transform: uppercase;
  color: #81B3D2;
}
.main-screen__subgreetings {
  position: relative;
  margin-top: -8px;
  margin-bottom: 10px;
  font-family: "wisdom_scriptregular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 124%;
  color: #766458;
}
.main-screen__subgreetings::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 1px;
  background-color: #766458;
}
.main-screen__subgreetings::after {
  content: "";
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 1px;
  background-color: #766458;
}
.main-screen__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "zeroneroblack", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 124%;
  text-transform: uppercase;
  color: #fff;
}
.main-screen__slogan {
  max-width: 220px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "wisdom_scriptregular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 114%;
  text-align: center;
  color: #fff;
}
.main-screen::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background: center center no-repeat url("../../../images/intro-triangle.svg");
  background-size: cover;
}

@media (min-width: 768px) {
  .main-screen {
    min-height: 518px;
  }
  .main-screen .main-screen__greetings {
    font-size: 65px;
    line-height: 65px;
  }
  .main-screen .main-screen__subgreetings {
    margin-bottom: 20px;
    font-size: 29px;
    line-height: 124%;
  }
  .main-screen .main-screen__subgreetings::before {
    height: 2px;
    width: 29px;
  }
  .main-screen .main-screen__subgreetings::after {
    height: 2px;
    width: 29px;
  }
  .main-screen .main-screen__title {
    font-size: 115px;
    line-height: 124%;
  }
  .main-screen .main-screen__slogan {
    max-width: 320px;
    font-size: 40px;
    line-height: 114%;
  }
}
.intro {
  max-width: 270px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 44px;
}

@media (min-width: 768px) {
  .intro {
    max-width: 520px;
    padding-top: 48px;
  }
}
@media (min-width: 1280px) {
  .intro {
    padding-top: 59px;
    max-width: 484px;
  }
}
.intro__title {
  margin-top: 0;
  margin-bottom: 35px;
  text-align: center;
  white-space: pre-wrap;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 144%;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .intro__title {
    margin-top: 0;
    margin-bottom: 55px;
    font-size: 21px;
    line-height: 124%;
  }
}
.intro__desc {
  margin-bottom: 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.reasons__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.reasons__list_item.gray {
  background-color: #EEEEEE;
  color: #000;
}
.reasons__list_item.gray:not(:last-child) > .reason-wrapper {
  border-bottom: 1px solid #D6D6D6;
}

.reason-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #81B3D2;
  color: #fff;
}
.reason-main.reason-first {
  padding-top: 54px;
}
.reason-main.reason-first::before {
  content: "";
  width: 100%;
  height: 37px;
  position: absolute;
  top: 0;
  left: 0;
  background: top center no-repeat url("../../../images/background-reason-1.svg");
  background-size: cover;
}
.reason-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 4px;
}
.reason__title {
  margin-top: 33px;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.reason__number {
  position: relative;
  margin-top: 0;
  margin-bottom: 17px;
}
.reason__number::before {
  content: "—";
  position: absolute;
  left: -15px;
  top: 0;
}
.reason__number::after {
  content: "—";
  position: absolute;
  right: -15px;
  top: 0;
}
.reason__desc {
  margin-top: 0;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}
.reason__image {
  height: 260px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.advantages__list {
  max-width: 85%;
  padding: 15px 0 52px 0;
  margin: 0 auto;
  list-style: none;
}
.advantages__list_item {
  padding-left: 45px;
  padding-top: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.advantages__list_item::before {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: -25px;
  transform: scale(0.5);
  background-image: url(../../../images/icons.svg);
}
.advantages__list_item.accommodation::before {
  background-position: 0 0;
}
.advantages__list_item.food::before {
  background-position: 0 -84px;
}
.advantages__list_item.souvenirs::before {
  background-position: 0 -168px;
}

.advantages__item_title {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  text-transform: uppercase;
}
.advantages__item_desc {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .reasons__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 256px 330px 256px 256px;
    grid-template-areas: "reason-1 reason-1 reason-1" "reason-1 reason-1 reason-1" "reason-2 reason-2 reason-2" "reason-3 reason-4 reason-5";
    justify-items: center;
    align-items: center;
  }
  .reasons__list_item {
    width: 100%;
  }
  .reasons__list_item.gray {
    display: inline-block;
  }
  .reasons__list_item.gray:not(:last-child) > .reason-wrapper {
    border-bottom: none;
  }
  .reason-main {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
  .reason-main.reason-second {
    grid-template-columns: 2fr 1fr;
  }
  .reason-main.reason-second > .reason__image {
    order: 0;
  }
  .reason-main.reason-second > .reason-wrapper {
    order: 3;
  }
  .reason-main.reason-first {
    padding-top: 0;
  }
  .reason-main.reason-first::before {
    height: 0;
    background: none;
  }
  .reason__list_item > .reason-wrapper .gray {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 41px 0;
  }
  .reason__list_item > .reason-wrapper .gray > .reason-wrapper:not(:last-child) {
    border-bottom: none;
  }
  .reason__list_item > .reason-wrapper .gray > .reason-wrapper:not(:first-of-type) {
    max-width: 160px;
  }
  .reason__list_item > .reason-wrapper .gray > .reason-wrapper > .reason__title {
    margin-bottom: 20px;
  }
  .reason__list_item > .reason-wrapper .gray > .reason-wrapper > .reason__desc {
    margin-bottom: 20px;
  }
  .reason-wrapper {
    height: 256px;
    max-width: 192px;
  }
  .reason__title {
    margin-top: 0;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
  }
  .reason__desc {
    margin-bottom: 0;
  }
  .reason-1 {
    grid-area: reason-1;
  }
  .reason-2 {
    grid-area: reason-2;
  }
  .reason-3 {
    grid-area: reason-3;
  }
  .reason-4 {
    grid-area: reason-4;
  }
  .reason-5 {
    grid-area: reason-5;
  }
}
@media (min-width: 1280px) {
  .reason-wrapper {
    max-width: 290px;
  }
  .reason.reason-second > .wrapper {
    max-width: 243px;
  }
  .reason.gray > .reason-wrapper:not(:first-of-type) {
    max-width: 290px;
  }
  .reason.gray > .reason-wrapper:first-of-type {
    max-width: 315px;
  }
}
@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 145px;
    padding-bottom: 59px;
  }
  .advantages__list_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-top: 0;
    max-width: 194px;
  }
  .advantages__list_item::before {
    top: -80px;
    left: 50%;
    transform: translateX(-50%) scale(0.9);
  }
  .advantages__item_desc {
    text-align: center;
  }
  .advantages__item_title {
    margin-top: 0;
  }
}
@media (min-width: 1280px) {
  .advantages {
    padding-bottom: 79px;
  }
  .advantages__list_item {
    max-width: 300px;
  }
}
.hotel {
  background-color: #fff;
  padding-top: 38px;
  padding-bottom: 49px;
}
.hotel-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 85%;
  margin: 0 auto;
}
.hotel__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 124%;
  text-transform: uppercase;
  text-align: center;
}
.hotel__desc {
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}
.hotel__btn {
  padding: 16px 43px;
  font-weight: 700;
  font-size: 21px;
  line-height: 124%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #81B3D2;
  cursor: pointer;
}
.hotel__btn:hover {
  background-color: #669EC0;
}
.hotel__btn:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}
.hotel__btn.disabled {
  background-color: #E5E5E5;
}

@media (min-width: 768px) {
  .hotel-wrapper {
    max-width: 435px;
  }
  .hotel__title {
    font-size: 30px;
    line-height: 87%;
  }
  .hotel__btn {
    padding: 16px 121px;
  }
}
.map__iframe {
  width: 100%;
  max-height: 320px;
}

@media (min-width: 768px) {
  .map__iframe {
    max-height: 350px;
  }
}
.footer {
  padding: 29px 0;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.footer__hashtag {
  margin-top: 0;
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 21px;
  line-height: 124%;
  text-transform: uppercase;
  text-align: center;
}
.footer__social {
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 47px;
}
.footer__social_elem {
  position: relative;
  width: 48px;
  height: 48px;
  display: inline-block;
  background-color: #81B3D2;
  cursor: pointer;
}
.footer__social_elem:hover {
  background-color: #669EC0;
}
.footer__social_elem:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}
.footer__social_elem.disabled {
  background-color: #E5E5E5;
}
.footer__social_elem:active > a > svg {
  opacity: 0.3;
}
.footer__social_elem:not(:last-of-type) {
  margin-right: 6px;
}
.footer__social_elem > a {
  cursor: pointer;
  position: absolute;
  fill: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer__copyright_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.footer__copyright_link:hover > p {
  color: #669EC0;
}
.footer__copyright_link:hover > svg {
  fill: #669EC0;
}
.footer__copyright_link:active > p {
  color: #5496BD;
}
.footer__copyright_link:active > svg {
  fill: #5496BD;
}
.footer__copyright_link > svg {
  fill: #000;
}
.footer__copyright_text {
  margin: 0 10px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    max-width: 662px;
  }
  .footer__hashtag {
    margin-bottom: 0;
  }
  .footer__social {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
